#example {
  width: 100vw;
  max-width: 400px;
  position: relative;
}

#example #progress {
    position: absolute;
    top: -65px;
    left: -15px;
    transform: rotate(-90deg);
}

#example .bg {
    stroke: #0b1011;
}

#example #progress circle {
    stroke-dashoffset: 0;
    stroke-width: 10%;
    fill: none;
}

#progress .indicator {
    stroke: var(--accent);
}

#example .scroll-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 220px;
    overflow-x: scroll;
    padding: 20px 0;
    flex: 0 0 600px;
    margin: 0 auto;
    gap: 20px;
    // 隐藏滚动条
    scrollbar-width: none;
    ms-overflow-style: none;

}
.scroll-container div {
  flex-shrink: 0;
  height: 200px;
  width: 200px;
}

// 设置滚动条样式
#example ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #fff3;
    -webkit-border-radius: 1ex;
}

#example ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
}

#example ::-webkit-scrollbar-corner {
    background: #fff3;
}

#example li {
    flex: 0 0 200px;
    background: var(--accent);
}
