.navigation {
  &-container {
    display: flex;
  }
  &-title {
    text-align: center;
  }
  &-aside {
    width: 340px;
    // border: 1px solid #aab7e0;
  }
  &-menu {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        // width: 100%;
        // padding: 5px 10px;
      }
      a {
        box-sizing: border-box;
        display: inline-block;
        padding: 0.8rem;
        width: 100%;
        line-height: 30px;
        color: rgb(246, 247, 249);
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        &:hover {
          // color: rgb(20, 158, 202);
          background-color: rgb(52, 58, 70);
        }
        &.active {
          color: rgb(20, 158, 202);
          background-color: rgba(88, 175, 223, 0.1);
        }
      }
    }
  }
  &-content {
    flex: 1;
    // margin-left: 20px;
    padding: 20px;
  }
}
