.App {
  background: rgb(35, 39, 47);
  color: rgb(235, 236, 240);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

button {
  height: 40px;
  line-height: 40px;
  width: 120px;
  color: rgb(235, 236, 240);
  background: rgb(8, 126, 164);
  border: none;
  border-radius: 10px;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}
button:hover {
  background-color: rgb(8, 126, 164, 0.6)
}
button:active {
  transform: scaleX(0.95) scaleY(0.95);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
